<div class="center">
  <h2>Your Cart</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Quantity</th>
    <th class="center">Total</th>
  </tr>

  <% @carts.each do |item| %>

    <tr>
      <td class="center"><%= image_tag item.listing.image.url(:thumb) %></td>
      <td class="center"><%= item.listing.name %></td>
      <td class="center"><%= number_to_currency(item.listing.price) %></td>
      <td class="center"><%= item.quantity %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>