<div class="center">
  <h2>Your Cart</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Quantity</th>
    <th class="center">Total</th>
  </tr>

  <% @cart_items.each do |item| %>
    <tr>
      <td class="center"><%= image_tag item.listing.image.url(:thumb) %></td>
      <td class="center"><%= item.listing.name %></td>
      <td class="center"><%= number_to_currency(item.listing.price) %></td>
      <td class="center"><%= item.quantity %></td>
      <td class="center"><%= number_to_currency(item.quantity * item.price) %></td>
    </tr>
  <% end %>
  <hr>
    <tr>
      <td colspan="4" class="righty"></td>
      <td colspan="1" class="center"><%= number_to_currency(@cart.total) %></td>
    </tr>
</table>

<div class="row">
    <div class="col-lg-1 pull-right righty" id="clear-cart">
      <%= form_tag("/carts/clear", class: "no-form") do %>
      <%= submit_tag("Empty Cart", class: 'button-link') %>
  <% end %> 
    </div>
    <div class="col-lg-2 pull-right righty">
     <%= link_to "Continue Shopping", root_url %> 
     <!-- %= button_to "Empty Cart", {action: "clear"}, class: 'button-link' %> -->
  </div>
  <br><br>
</div>
<div class="row">
  <div class="col-lg-2 pull-right righty checkout">
    <%= link_to "Paypal Checkout", @cart.paypal_url(root_url, payment_notifications_url), class: 'btn btn-warning' %>
    <%= link_to "Express Checkout", express_checkout_path, class: 'btn btn-warning' %>
    <%= link_to "Checkout", new_order_path, class: 'btn btn-warning' %>
    <br><br>
    Stats for me: <%= !@current_cart.total.nil? ? (@current_cart.total_price * 100).round : "0" %>

  </div>
</div>